name: Validate PRs

on:
  pull_request:
    branches: [ main ]

jobs:
  kcp:
    name: Test KCP
    runs-on: ubuntu-20.04
    env:
      OPERATOR_SDK_VERSION: v1.12.0
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: 1.18
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Minikube
        uses: manusa/actions-setup-minikube@v2.4.2
        with:
          minikube version: 'v1.21.0'
          kubernetes version: 'v1.21.0'
          driver: 'docker'
          github token: ${{ secrets.GITHUB_TOKEN }}
          start args: '--addons=ingress'
      - name: Install KCP
        run: |
          git clone https://github.com/kcp-dev/kcp -b v0.9.1 ~/kcp
          cd ~/kcp
          make install
      - name: Build HAS container image
        run: |
          docker build -t application-service:latest .
      - name: Run KCP Tests
        run: |
          ./hack/kcp/test-has.sh application-service:latest $PWD
      - name: Check if Manager Kustomize has the right image
        run: |
          ./check-manager-kustomize.sh
          exit $?