# API type definition is in github.com/redhat-appstudio/managed-gitops
apiVersion: appstudio.redhat.com/v1alpha1
kind: SnapshotEnvironmentBinding
metadata:
  name: snapshotenvironmentbinding-sample
  labels: 
    # These labels are recommended, so that we can use label selectors to easily find all apps/envs, without needing to do a full namespace list.
    # Pls check v3 draft https://docs.google.com/document/d/1-_rWLgALd5pdSlqNNcQ5FSrD00fZb0l_exU-_FiL68o/edit?pli=1#heading=h.ljlaq1jezwn for more info. 
    appstudio.application: application-sample # Should always match application value below
    appstudio.environment: staging # Should always match env value below
spec:
  application: application-sample
  environment: staging
  snapshot: snapshot-sample
  components:
  - name: component-sample
    configuration:
      replicas: 3
      env:
      - name: FOO
        value: BAR
      resources:
        limits:
          memory: "500Mi"
          cpu: "2"
          storage: "400Mi"
        requests:
          memory: "400Mi"
          cpu: "700m"
          storage: "200Mi"
  - name: component-sample2
    configuration:
      replicas: 2
      env:
      - name: FOO2
        value: BAR2
      resources:
        limits:
          memory: "500Mi"
          cpu: "2"
          storage: "400Mi"
        requests:
          memory: "400Mi"
          cpu: "700m"
          storage: "200Mi"
